[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Deducer"]
	path = Deducer
	url = https://github.com/cran/Deducer
[submodule "OpenStreetMap"]
	path = OpenStreetMap
	url = https://github.com/ifellows/rosm
	subdir = OpenStreetMap
[submodule "wordcloud"]
	path = wordcloud
	url = https://github.com/ifellows/wordcloud
